################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/Common.Api/bin
/Common/Common.Api/obj
/Common/Common.Domain/bin
/Common/Common.Domain/obj
/Common/Common.Dto/bin
/Common/Common.Dto/obj
/Common/Common.Mail/bin
/Common/Common.Mail/obj
/Common/Common.Orm/bin
/Common/Common.Orm/obj
/Common/Common.Validation/bin
/Common/Common.Validation/obj
/Gerador/Common.Gen/bin
/Gerador/Common.Gen/obj
/packages
/Project.Api/bin
/Project.Api/obj
/Project.Auth/bin
/Project.Auth/obj
/Project.Dto/bin
/Project.Dto/obj
/Project.Enum/bin
/Project.Enum/obj
/Project.Filter/bin
/Project.Filter/obj
/Project.Repository/bin
/Project.Repository/obj
/Project.Services/bin
/Project.Services/obj
/Project.Ui/node_modules
/.vs/Calemas.Erp/v15/Server/sqlite3
/.vs/Calemas.Erp/DesignTimeBuild
/.vs/config
/.vs
