<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Core" connectionString="Data Source=TGN-012\SQLEXPRESS;Initial Catalog=Calemas.Erp;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <add key="outputClassApi" value="D:\Projetos\calemas-erp-v2\Calemas.Erp.Api" />
    <add key="outputClassDomain" value="D:\Projetos\calemas-erp-v2\Calemas.Erp.Repository" />
    <add key="outputClassDto" value="D:\Projetos\calemas-erp-v2\Calemas.Erp.Dto" />
    <add key="outputClassApp" value="D:\Projetos\calemas-erp-v2\Calemas.Erp.Services" />
    <add key="outputClassFilter" value="D:\Projetos\calemas-erp-v2\Calemas.Erp.Filter" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
